$background-nav: #424242;
$title-nav: rgb(255, 255, 255);
$hover-nav: #B52e31;

.sidenav{
    width: 15vw;
    display: flex;
    background-color: $background-nav;
    margin-left: 50px;
    margin-top: 2%;
    border-radius: 8px 8px 0 0;

    a{
        color: $title-nav;
    }

    i{
        padding-right: 10px;
        color: $title-nav;
        vertical-align: middle;
    }
}

.nav-list{
    :hover{
        background-color: $hover-nav;
    }
}

.content{
    padding: 27px 0 67vh 80px;
    margin-right: 25px;
}