$background-nav: rgb(255, 255, 255);
$title-nav: rgb(78, 0, 142);

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-nav;

    a{
        display:flex;
        align-items: center;
        text-decoration: none;
    }

    .logo{
        max-height: 35px;
        margin-left: 5vw;
    }

    .title-group{
        padding-left: 25px;
        color: #ffffff;
        
        i{
            padding-right: 5px;
        }

    }
}
